html {
  box-sizing: border-box;
  font: normal 100%/ 1.5 sans-serif;
}
*,*::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: grey;
  text-align: center;
  display: block;
}

header h1 {
  display: inline-block;
  top: 5em;
  font-size: 3em
}

header nav ol {
  list-style-type: none;
  background-color: lightgrey;
  padding: inherit;
  margin: 0;
}

header nav li {
  display: inline;
  margin: 0em;
  padding: 0em;
}

header nav a{
  display: inline-block;
  padding: 0.5em;
  margin: 0.5em;
  background-color: darkgrey;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 0.5em;
}

.banner {
    position: relative;
    text-align: center;
    font-size: 0.5rem;
    max-height: 75vh;
    overflow: hidden;
    clear: left;
  }

.banner-content{
    position: absolute;
    bottom: 4em;
    width: 100%;
    color: #fff;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
    font-style: italic;
  }

.banner img{
    width: 100%;
  }

  .banner-content h2,
  .banner-content p{
    margin:0;
    position: relative;
  }

.second {
  text-align: center;
  font-size: 2em;
}

.babylon img {
  padding: 2em;
}

.artemis img {
  padding: 2em;
}

.zeus img {
  padding: 2em;
}

.halicarnassus img {
  padding: 2em;
}

.rhodes img {
  padding: 2em;
}

.alexandria img {
  padding: 2em;
}

.giza dt dd {
  float: right;
}

.tickets h2 {
  text-align: center;
}

.tickets p {
  text-align: center;
}

.tickets ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tickets li {
  display: inline;
  margin: 0em;
  padding: 0em;
  float: right;
  width: 50%;
}

.tickets a {
display: inline;
padding: 0.5em;
margin: 6em;
background-color: darkgrey;
color: white;
text-decoration: none;
text-align: center;
border-radius: 0.5em;
}
